@import "//at.alicdn.com/t/font_1458752_rdjvbx5n10h.css";
@import '~@/assets/style/scss/base';

html,body{
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

div[data-name='longvideo-pc'], div[data-name='clip'] {
  height: 100%;
}

.block-wrapper {
  @include flex_layout(column, center, center);
  position: relative;
  width: 100%;
  .block-header {
    margin: 0 auto;
    width: 1000px;

    &.align-center {
      @include flex_layout(row, center, center);
    }
  }
  .block-content {
    @include flex_layout(row, space-between, center);
    margin: 0 auto;
    width: 1000px;
    .card-wrapper {

    }
  }
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1.5s;
}

.animate__animated.animate__fadeOut {
  --animate-duration: .5s;
}

//msg
.tzld-msg-box {
  @include flex_layout(row, center, center);
  z-index: 2000;
  position: fixed;
  top: 50px;
  width: 100%;

  &.tzld-msg-box-default {
    div {
      max-width: 100%;
      flex: 0 1;
      display: inline-block;
      padding: 14px 28px;
      border-radius: 8px;
      font-size: 18px;
      color: #333333;
      white-space: nowrap;
      background: #FFFFFF;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    }
  }
  &.tzld-msg-box-success {
    div {
      max-width: 100%;
      flex: 0 1;
      display: inline-block;
      padding: 14px 28px;
      border-radius: 8px;
      font-size: 18px;
      color: #07C160;
      white-space: nowrap;
      background: #FFFFFF;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    }
  }
  &.tzld-msg-box-error {
    div {
      max-width: 100%;
      flex: 0 1;
      display: inline-block;
      padding: 14px 28px;
      border-radius: 8px;
      font-size: 18px;
      color: #FF2A2A;
      white-space: nowrap;
      background: #FFFFFF;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    }
  }

}


