@charset "UTF-8";

$primary_color: #E9427B;
$color_white: #FFFFFF;
//#333333
$normal_black_color: textColor(51, 51, 51, 1);;
$normal_d4_black_color: textColor(51, 51, 51, .4);
$normal_d2_black_color: textColor(51, 51, 51, .2);

//#160A19
$light_black_color: textColor(22, 10, 25, 1);
$light_d5_black_color: textColor(22, 10, 25, .8);

